.container
  %p#notice= notice

  %p
    %b Name:
    = @user.name

  - @records.each do |r|
    %span balance ID
    %span= link_to r.id, balance_path(r.id)
    %p

  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', users_path
