= form_for [:user, @balance] do |f|
  - if @balance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@balance.errors.count, "error")} prohibited this balance from being saved:"
      %ul
        - @balance.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label 'who to send'
    = f.text_field :sub_user
  .field
    = f.label :amount
    = f.number_field :balance
  .field
    = f.label :is_positive
    = f.check_box :is_positive
    .field
    = f.hidden_field :primary_user, value: params[:user_id]
  .actions
    = f.submit 'Send'
